<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>classNames</key>
	<dict>
		<key>PerformanceCommonRegexesTests</key>
		<dict>
			<key>testIPv6Address()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.15419</real>
					<key>baselineIntegrationDisplayName</key>
					<string>18 Aug 2019 at 09:18:26</string>
				</dict>
			</dict>
		</dict>
		<key>PerformanceNearlyMatchingInputTests</key>
		<dict>
			<key>testNearlyMatchingPattern()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.049798</real>
					<key>baselineIntegrationDisplayName</key>
					<string>19 Aug 2019 at 18:39:21</string>
				</dict>
			</dict>
			<key>testNearlyMatchingPatternWithGreedyQuantifier()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.023157</real>
					<key>baselineIntegrationDisplayName</key>
					<string>19 Aug 2019 at 18:39:21</string>
				</dict>
			</dict>
			<key>testNearlyMatchingPatternWithLongInput()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.024401</real>
					<key>baselineIntegrationDisplayName</key>
					<string>19 Aug 2019 at 18:39:21</string>
				</dict>
			</dict>
			<key>testNearlyMatchingPatternWithNestedGreedyQuantifier()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.060089</real>
					<key>baselineIntegrationDisplayName</key>
					<string>19 Aug 2019 at 18:39:21</string>
				</dict>
			</dict>
			<key>testNearlyMatchingPatternWithNestedGreedyQuantifier2()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.03424</real>
					<key>baselineIntegrationDisplayName</key>
					<string>19 Aug 2019 at 18:39:21</string>
				</dict>
			</dict>
			<key>testNearlyMatchingSubstring()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.029196</real>
					<key>baselineIntegrationDisplayName</key>
					<string>19 Aug 2019 at 18:39:21</string>
				</dict>
			</dict>
			<key>testNearlyMatchingSubstringCreateWithRange()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.11975</real>
					<key>baselineIntegrationDisplayName</key>
					<string>19 Aug 2019 at 18:39:21</string>
				</dict>
			</dict>
			<key>testNearlyMatchingSubstringCreateWithRangeAndAlternation()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.23274</real>
					<key>baselineIntegrationDisplayName</key>
					<string>19 Aug 2019 at 18:39:21</string>
				</dict>
			</dict>
		</dict>
		<key>RegexDiditalFortressCommonlyUsedRegexTests</key>
		<dict>
			<key>testAlphanumericWithSpace()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.047485</real>
					<key>baselineIntegrationDisplayName</key>
					<string>19 Aug 2019 at 18:39:21</string>
				</dict>
			</dict>
			<key>testAlphanumericWithoutSpace()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.079029</real>
					<key>baselineIntegrationDisplayName</key>
					<string>19 Aug 2019 at 18:39:21</string>
				</dict>
			</dict>
			<key>testCommonEmail()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.027071</real>
					<key>baselineIntegrationDisplayName</key>
					<string>19 Aug 2019 at 18:39:21</string>
				</dict>
			</dict>
			<key>testDecimalNumber()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.084813</real>
					<key>baselineIntegrationDisplayName</key>
					<string>19 Aug 2019 at 18:39:21</string>
				</dict>
			</dict>
			<key>testHTMLTags()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.027503</real>
					<key>baselineIntegrationDisplayName</key>
					<string>19 Aug 2019 at 18:39:21</string>
				</dict>
			</dict>
			<key>testIPv4Address()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.033487</real>
					<key>baselineIntegrationDisplayName</key>
					<string>19 Aug 2019 at 18:39:21</string>
				</dict>
			</dict>
			<key>testNegativePositiveWholeAndDecimalNumber()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.046578</real>
					<key>baselineIntegrationDisplayName</key>
					<string>19 Aug 2019 at 18:39:21</string>
				</dict>
			</dict>
			<key>testSlug()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.029737</real>
					<key>baselineIntegrationDisplayName</key>
					<string>19 Aug 2019 at 18:39:21</string>
				</dict>
			</dict>
			<key>testTimeFormat()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.041531</real>
					<key>baselineIntegrationDisplayName</key>
					<string>19 Aug 2019 at 18:39:21</string>
				</dict>
			</dict>
			<key>testTimeFormat3()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.049507</real>
					<key>baselineIntegrationDisplayName</key>
					<string>19 Aug 2019 at 18:39:21</string>
				</dict>
			</dict>
			<key>testTimeFormat4()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.051797</real>
					<key>baselineIntegrationDisplayName</key>
					<string>19 Aug 2019 at 18:39:21</string>
				</dict>
			</dict>
			<key>testTimeFormat5()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.069759</real>
					<key>baselineIntegrationDisplayName</key>
					<string>19 Aug 2019 at 18:39:21</string>
				</dict>
			</dict>
			<key>testURL()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.057946</real>
					<key>baselineIntegrationDisplayName</key>
					<string>19 Aug 2019 at 18:39:21</string>
				</dict>
			</dict>
			<key>testURLProtocolOptional()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.069477</real>
					<key>baselineIntegrationDisplayName</key>
					<string>19 Aug 2019 at 18:39:21</string>
				</dict>
			</dict>
			<key>testUncommonEmail()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.034553</real>
					<key>baselineIntegrationDisplayName</key>
					<string>19 Aug 2019 at 18:39:21</string>
				</dict>
			</dict>
			<key>testUsername()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.047699</real>
					<key>baselineIntegrationDisplayName</key>
					<string>19 Aug 2019 at 18:39:21</string>
				</dict>
			</dict>
			<key>testWholeNumber()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.10241</real>
					<key>baselineIntegrationDisplayName</key>
					<string>19 Aug 2019 at 18:39:21</string>
				</dict>
			</dict>
			<key>testWholePlusDecimalNumber()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.028721</real>
					<key>baselineIntegrationDisplayName</key>
					<string>19 Aug 2019 at 18:39:21</string>
				</dict>
			</dict>
			<key>testWholePlusDecimalPlusFractionNumber()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.086998</real>
					<key>baselineIntegrationDisplayName</key>
					<string>19 Aug 2019 at 18:39:21</string>
				</dict>
			</dict>
		</dict>
		<key>RegexTests</key>
		<dict>
			<key>testColorHexRegex()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.051563</real>
					<key>baselineIntegrationDisplayName</key>
					<string>19 Aug 2019 at 18:39:21</string>
				</dict>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
