<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>classNames</key>
	<dict>
		<key>PerformanceCommonRegexesTests</key>
		<dict>
			<key>testIPv6Address()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.15419</real>
					<key>baselineIntegrationDisplayName</key>
					<string>18 Aug 2019 at 09:18:26</string>
				</dict>
			</dict>
		</dict>
		<key>PerformanceNearlyMatchingInputTests</key>
		<dict>
			<key>testNearlyMatchingPattern()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.049625</real>
					<key>baselineIntegrationDisplayName</key>
					<string>19 Aug 2019 at 19:17:06</string>
				</dict>
			</dict>
			<key>testNearlyMatchingPatternWithGreedyQuantifier()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.023194</real>
					<key>baselineIntegrationDisplayName</key>
					<string>19 Aug 2019 at 19:17:06</string>
				</dict>
			</dict>
			<key>testNearlyMatchingPatternWithLongInput()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.024197</real>
					<key>baselineIntegrationDisplayName</key>
					<string>19 Aug 2019 at 19:17:06</string>
				</dict>
			</dict>
			<key>testNearlyMatchingPatternWithNestedGreedyQuantifier()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.058818</real>
					<key>baselineIntegrationDisplayName</key>
					<string>19 Aug 2019 at 19:17:06</string>
				</dict>
			</dict>
			<key>testNearlyMatchingPatternWithNestedGreedyQuantifier2()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.03442</real>
					<key>baselineIntegrationDisplayName</key>
					<string>19 Aug 2019 at 19:17:06</string>
				</dict>
			</dict>
			<key>testNearlyMatchingSubstring()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.028938</real>
					<key>baselineIntegrationDisplayName</key>
					<string>19 Aug 2019 at 19:17:06</string>
				</dict>
			</dict>
			<key>testNearlyMatchingSubstringCreateWithRange()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.1176</real>
					<key>baselineIntegrationDisplayName</key>
					<string>19 Aug 2019 at 19:17:06</string>
				</dict>
			</dict>
			<key>testNearlyMatchingSubstringCreateWithRangeAndAlternation()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.22322</real>
					<key>baselineIntegrationDisplayName</key>
					<string>19 Aug 2019 at 19:17:06</string>
				</dict>
			</dict>
		</dict>
		<key>RegexDiditalFortressCommonlyUsedRegexTests</key>
		<dict>
			<key>testAlphanumericWithSpace()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.049251</real>
					<key>baselineIntegrationDisplayName</key>
					<string>19 Aug 2019 at 19:17:06</string>
				</dict>
			</dict>
			<key>testAlphanumericWithoutSpace()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.0752</real>
					<key>baselineIntegrationDisplayName</key>
					<string>19 Aug 2019 at 19:17:06</string>
				</dict>
			</dict>
			<key>testCommonEmail()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.024548</real>
					<key>baselineIntegrationDisplayName</key>
					<string>19 Aug 2019 at 19:17:06</string>
				</dict>
			</dict>
			<key>testDecimalNumber()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.078255</real>
					<key>baselineIntegrationDisplayName</key>
					<string>19 Aug 2019 at 19:17:06</string>
				</dict>
			</dict>
			<key>testHTMLTags()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.027332</real>
					<key>baselineIntegrationDisplayName</key>
					<string>19 Aug 2019 at 19:17:06</string>
				</dict>
			</dict>
			<key>testIPv4Address()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.022612</real>
					<key>baselineIntegrationDisplayName</key>
					<string>19 Aug 2019 at 19:17:06</string>
				</dict>
			</dict>
			<key>testNegativePositiveWholeAndDecimalNumber()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.033467</real>
					<key>baselineIntegrationDisplayName</key>
					<string>19 Aug 2019 at 19:17:06</string>
				</dict>
			</dict>
			<key>testSlug()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.029105</real>
					<key>baselineIntegrationDisplayName</key>
					<string>19 Aug 2019 at 19:17:06</string>
				</dict>
			</dict>
			<key>testTimeFormat()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.030584</real>
					<key>baselineIntegrationDisplayName</key>
					<string>19 Aug 2019 at 19:17:06</string>
				</dict>
			</dict>
			<key>testTimeFormat3()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.036005</real>
					<key>baselineIntegrationDisplayName</key>
					<string>19 Aug 2019 at 19:17:06</string>
				</dict>
			</dict>
			<key>testTimeFormat4()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.036728</real>
					<key>baselineIntegrationDisplayName</key>
					<string>19 Aug 2019 at 19:17:06</string>
				</dict>
			</dict>
			<key>testTimeFormat5()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.068668</real>
					<key>baselineIntegrationDisplayName</key>
					<string>19 Aug 2019 at 19:17:06</string>
				</dict>
			</dict>
			<key>testURL()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.044227</real>
					<key>baselineIntegrationDisplayName</key>
					<string>19 Aug 2019 at 19:17:06</string>
				</dict>
			</dict>
			<key>testURLProtocolOptional()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.066299</real>
					<key>baselineIntegrationDisplayName</key>
					<string>19 Aug 2019 at 19:17:06</string>
				</dict>
			</dict>
			<key>testUncommonEmail()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.02157</real>
					<key>baselineIntegrationDisplayName</key>
					<string>19 Aug 2019 at 19:17:06</string>
				</dict>
			</dict>
			<key>testUsername()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.048303</real>
					<key>baselineIntegrationDisplayName</key>
					<string>19 Aug 2019 at 19:17:06</string>
				</dict>
			</dict>
			<key>testWholeNumber()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.09164</real>
					<key>baselineIntegrationDisplayName</key>
					<string>19 Aug 2019 at 19:17:06</string>
				</dict>
			</dict>
			<key>testWholePlusDecimalNumber()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.023339</real>
					<key>baselineIntegrationDisplayName</key>
					<string>19 Aug 2019 at 19:17:06</string>
				</dict>
			</dict>
			<key>testWholePlusDecimalPlusFractionNumber()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.07123</real>
					<key>baselineIntegrationDisplayName</key>
					<string>19 Aug 2019 at 19:17:06</string>
				</dict>
			</dict>
		</dict>
		<key>RegexTests</key>
		<dict>
			<key>testColorHexRegex()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.039235</real>
					<key>baselineIntegrationDisplayName</key>
					<string>19 Aug 2019 at 19:17:06</string>
				</dict>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
