<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>classNames</key>
	<dict>
		<key>PerformanceCommonRegexesTests</key>
		<dict>
			<key>testIPv6Address()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.15419</real>
					<key>baselineIntegrationDisplayName</key>
					<string>18 Aug 2019 at 09:18:26</string>
				</dict>
			</dict>
		</dict>
		<key>PerformanceNearlyMatchingInputTests</key>
		<dict>
			<key>testNearlyMatchingPattern()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.043311</real>
					<key>baselineIntegrationDisplayName</key>
					<string>19 Aug 2019 at 19:34:21</string>
				</dict>
			</dict>
			<key>testNearlyMatchingPatternWithGreedyQuantifier()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.026304</real>
					<key>baselineIntegrationDisplayName</key>
					<string>19 Aug 2019 at 19:34:21</string>
				</dict>
			</dict>
			<key>testNearlyMatchingPatternWithLongInput()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.026281</real>
					<key>baselineIntegrationDisplayName</key>
					<string>19 Aug 2019 at 19:34:21</string>
				</dict>
			</dict>
			<key>testNearlyMatchingPatternWithNestedGreedyQuantifier()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.048389</real>
					<key>baselineIntegrationDisplayName</key>
					<string>19 Aug 2019 at 19:34:21</string>
				</dict>
			</dict>
			<key>testNearlyMatchingPatternWithNestedGreedyQuantifier2()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.028112</real>
					<key>baselineIntegrationDisplayName</key>
					<string>19 Aug 2019 at 19:34:21</string>
				</dict>
			</dict>
			<key>testNearlyMatchingSubstring()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.033029</real>
					<key>baselineIntegrationDisplayName</key>
					<string>19 Aug 2019 at 19:34:21</string>
				</dict>
			</dict>
			<key>testNearlyMatchingSubstringCreateWithRange()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.12797</real>
					<key>baselineIntegrationDisplayName</key>
					<string>19 Aug 2019 at 19:34:21</string>
				</dict>
			</dict>
			<key>testNearlyMatchingSubstringCreateWithRangeAndAlternation()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.23368</real>
					<key>baselineIntegrationDisplayName</key>
					<string>19 Aug 2019 at 19:34:21</string>
				</dict>
			</dict>
		</dict>
		<key>RegexDiditalFortressCommonlyUsedRegexTests</key>
		<dict>
			<key>testAlphanumericWithSpace()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.045222</real>
					<key>baselineIntegrationDisplayName</key>
					<string>19 Aug 2019 at 19:34:21</string>
				</dict>
			</dict>
			<key>testAlphanumericWithoutSpace()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.08766</real>
					<key>baselineIntegrationDisplayName</key>
					<string>19 Aug 2019 at 19:34:21</string>
				</dict>
			</dict>
			<key>testCommonEmail()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.021781</real>
					<key>baselineIntegrationDisplayName</key>
					<string>19 Aug 2019 at 19:34:21</string>
				</dict>
			</dict>
			<key>testDecimalNumber()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.078838</real>
					<key>baselineIntegrationDisplayName</key>
					<string>19 Aug 2019 at 19:34:21</string>
				</dict>
			</dict>
			<key>testHTMLTags()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.027505</real>
					<key>baselineIntegrationDisplayName</key>
					<string>19 Aug 2019 at 19:34:21</string>
				</dict>
			</dict>
			<key>testIPv4Address()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.02281</real>
					<key>baselineIntegrationDisplayName</key>
					<string>19 Aug 2019 at 19:34:21</string>
				</dict>
			</dict>
			<key>testNegativePositiveWholeAndDecimalNumber()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.033298</real>
					<key>baselineIntegrationDisplayName</key>
					<string>19 Aug 2019 at 19:34:21</string>
				</dict>
			</dict>
			<key>testSlug()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.028475</real>
					<key>baselineIntegrationDisplayName</key>
					<string>19 Aug 2019 at 19:34:21</string>
				</dict>
			</dict>
			<key>testTimeFormat()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.031251</real>
					<key>baselineIntegrationDisplayName</key>
					<string>19 Aug 2019 at 19:34:21</string>
				</dict>
			</dict>
			<key>testTimeFormat3()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.03626</real>
					<key>baselineIntegrationDisplayName</key>
					<string>19 Aug 2019 at 19:34:21</string>
				</dict>
			</dict>
			<key>testTimeFormat4()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.035715</real>
					<key>baselineIntegrationDisplayName</key>
					<string>19 Aug 2019 at 19:34:21</string>
				</dict>
			</dict>
			<key>testTimeFormat5()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.072347</real>
					<key>baselineIntegrationDisplayName</key>
					<string>19 Aug 2019 at 19:34:21</string>
				</dict>
			</dict>
			<key>testURL()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.050019</real>
					<key>baselineIntegrationDisplayName</key>
					<string>19 Aug 2019 at 19:34:21</string>
				</dict>
			</dict>
			<key>testURLProtocolOptional()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.063895</real>
					<key>baselineIntegrationDisplayName</key>
					<string>19 Aug 2019 at 19:34:21</string>
				</dict>
			</dict>
			<key>testUncommonEmail()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.022637</real>
					<key>baselineIntegrationDisplayName</key>
					<string>19 Aug 2019 at 19:34:21</string>
				</dict>
			</dict>
			<key>testUsername()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.045216</real>
					<key>baselineIntegrationDisplayName</key>
					<string>19 Aug 2019 at 19:34:21</string>
				</dict>
			</dict>
			<key>testWholeNumber()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.089161</real>
					<key>baselineIntegrationDisplayName</key>
					<string>19 Aug 2019 at 19:34:21</string>
				</dict>
			</dict>
			<key>testWholePlusDecimalNumber()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.023117</real>
					<key>baselineIntegrationDisplayName</key>
					<string>19 Aug 2019 at 19:34:21</string>
				</dict>
			</dict>
			<key>testWholePlusDecimalPlusFractionNumber()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.067315</real>
					<key>baselineIntegrationDisplayName</key>
					<string>19 Aug 2019 at 19:34:21</string>
				</dict>
			</dict>
		</dict>
		<key>RegexTests</key>
		<dict>
			<key>testColorHexRegex()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.035294</real>
					<key>baselineIntegrationDisplayName</key>
					<string>19 Aug 2019 at 19:34:21</string>
				</dict>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
